body {
    margin: 100px;
    background: lightblue;
}

.container {
    h1 {
        text-transform: uppercase;
    }
}

.container {
    margin: auto;
    // display: inline-block;
    padding: 10px;
    border: solid 1px lightblue;
    width: 780px;
    // height: 500px;
}

.col {
    background-color: #00ff87;
    border: dashed red 3px;
    display: inline-block;
    width: 25%;
    margin: 0 25px;
    padding: 200px 0px 200px 0px;
    h1 {
        margin: auto;
        text-align: center;
    }
}

.active {
    background-color: yellow;
    transition: all linear 2s;
}

a {
    text-decoration: none;
    color: black;
}
